language: "perl"

perl:
  - "5.14"

env:

before_install:
    - sudo apt-get -y update
    - sudo apt-get -y install unzip
    - sudo apt-get -y install sendmail
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-external.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-killlist.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-pipeline.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-compara.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-funcgen.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-hive.git
    - git clone --branch master --depth 1 https://github.com/Ensembl/ensembl-io.git
    - echo "We need release 56 for FuncGen modules"
    - git clone --branch release/56 --depth 1 https://github.com/Ensembl/ensembl.git ensembl-56
    - wget https://github.com/bioperl/bioperl-live/archive/bioperl-release-1-2-3.zip
    - unzip bioperl-release-1-2-3.zip
    - git clone --branch bioperl-release-1-6-9 --depth 1 https://github.com/bioperl/bioperl-live.git
    - git clone --branch master --depth 1 https://github.com/bioperl/bioperl-run.git
    - wget http://sourceforge.net/projects/samtools/files/samtools/0.1.19/samtools-0.1.19.tar.bz2/download 
    - tar -jxvf download 
    - cd samtools-0.1.19 && make CFLAGS="-g -O2 -fPIC"
    - cd ..


install:
    - cpanm -v --installdeps --with-recommends --notest --cpanfile ensembl/cpanfile .
    - export SAMTOOLS=$PWD/samtools-0.1.19
    - export PERL5LIB=$PWD/bioperl-live
    - cpanm -v --with-recommends --notest Bio::DB::Sam
    - cpanm -v --with-recommends --notest JSON
    - unset SAMTOOLS
    - unset PERL5LIB
# We don't really need the modules below this, just one module needs it (modules/Bio/EnsEMBL/Analysis/Tools/BlastDBTracking.pm) and it is not used by us
    - echo "We need these modules for an unused module"
    - cpanm -v --notest MooseX::ClassAttribute
    - cpanm -v --notest File::Spec::Link
    - cpanm -v --notest Readonly
 
script: "./travisci/harness.sh"

notifications:
  email:
    on_success: always
    on_failure: always

