# Copyright [1999-2015] Wellcome Trust Sanger Institute and the EMBL-European Bioinformatics Institute
# Copyright [2016-2022] EMBL-European Bioinformatics Institute
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

=head1 NAME

  Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle

=head1 SYNOPSIS

  use Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle;
  
  use Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle qw(CONFIG);

=head1 DESCRIPTION

This is a module needed to provide configuration for the
Chipotle RunnableDBs.

CONFIG is an hash of hashes which contains analysis specific
settings and is keyed on logic_name

=head1 LICENCE

This code is distributed under an Apache style licence. Please see
http://www.ensembl.org/info/about/code_licence.html for details.

=head1 AUTHOR

Stefan Graf, Ensembl Functional Genomics - http://www.ensembl.org/

=head1 CONTACT

Post questions to the Ensembl development list: http://lists.ensembl.org/mailman/listinfo/dev

=cut

package Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle;

use strict;
use vars qw(%Config);

%Config = 
    (
     CONFIG => {
         DEFAULT => {
             DNADB => {
                 -dbname => $ENV{'CORE_DBNAME'},
                 -host => $ENV{'CORE_HOST'},
                 -port => $ENV{'CORE_PORT'} || 3306,
                 -species => $ENV{'SPECIES'},
                 -user => $ENV{'CORE_USER'},
             },
             EFGDB => {
                 -dbname => $ENV{'EFG_DBNAME'},
                 -host => $ENV{'EFG_HOST'},
                 -port => $ENV{'EFG_PORT'} || 3306,
                 -species => $ENV{'SPECIES'},
                 -user => $ENV{'EFG_WRITE_USER'},
                 -pass => $ENV{'PASS'},
             },
             MODULE            => 'Chipotle',
             PROGRAM           => 'ChIPOTle',
             PROGRAM_FILE      => '/nfs/acari/graef/src/chipotle/chipotle',
             VERSION           => '2.0',
             #PARAMETERS        => $ENV{PARAMETERS},
             NORM_METHOD       => $ENV{NORM_METHOD}, 
             RESULT_SET_REGEXP => '_IMPORT', 
             SCORE_FACTOR      => 1,
             ANALYSIS_WORK_DIR => $ENV{'ANALYSIS_WORK_DIR'},
         },
#         'Chipotle_BH_1e-01' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-1',
#         },
#         'Chipotle_BH_1e-05' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-5',
#         },
#         'Chipotle_BH_1e-10' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-10',
#         },
#         'Chipotle_BH_1e-15' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-15',
#         },
#         'Chipotle_BH_1e-25' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-25',
#         },
#         'Chipotle_BON_1e-01' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-1',
#         },
#         'Chipotle_BON_1e-05' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-5',
#         },
#         'Chipotle_BON_1e-10' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-10',
#         },
#         'Chipotle_BON_1e-15' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-15',
#         },
#         'Chipotle_BON_1e-25' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-25',
#         },
     });

sub import {
    my ($callpack) = caller(0); # Name of the calling package
    my $pack = shift; # Need to move package off @_
    
    # Get list of variables supplied, or else all
    my @vars = @_ ? @_ : keys(%Config);
    return unless @vars;
    
    # Predeclare global variables in calling package
    eval "package $callpack; use vars qw("
        . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;
    
    
    foreach (@vars) {
        if (defined $Config{ $_ }) {
            no strict 'refs';
            # Exporter does a similar job to the following
            # statement, but for function names, not
            # scalar variables:
            *{"${callpack}::$_"} = \$Config{ $_ };
        } else {
            die "Error: Config: $_ not known\n";
        }
    }
}

1;
