=head1 LICENSE

  Copyright (c) 1999-2011 The European Bioinformatics Institute and
  Genome Research Limited.  All rights reserved.

  This software is distributed under a modified Apache license.
  For license details, please see

    http://www.ensembl.org/info/about/code_licence.html

=head1 CONTACT

  Please email comments or questions to the public Ensembl
  developers list at <dev@ensembl.org>.

  Questions may also be sent to the Ensembl help desk at
  <helpdesk@ensembl.org>.

=cut

=head1 AUTHOR

Stefan Graf, Ensembl Functional Genomics - http://www.ensembl.org/

=head1 NAME

  Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle

=head1 SYNOPSIS

  use Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle;
  
  use Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle qw(CONFIG);

=head1 DESCRIPTION

This is a module needed to provide configuration for the
Chipotle RunnableDBs.

CONFIG is an hash of hashes which contains analysis specific
settings and is keyed on logic_name

=head1 METHODS

=cut


package Bio::EnsEMBL::Analysis::Config::Funcgen::Chipotle;

use strict;
use vars qw(%Config);

%Config = 
    (
     CONFIG => {
         DEFAULT => {
             DNADB => {
                 -dbname => $ENV{'CORE_DBNAME'},
                 -host => $ENV{'CORE_HOST'},
                 -port => $ENV{'CORE_PORT'} || 3306,
                 -species => $ENV{'SPECIES'},
                 -user => $ENV{'CORE_USER'},
             },
             EFGDB => {
                 -dbname => $ENV{'EFG_DBNAME'},
                 -host => $ENV{'EFG_HOST'},
                 -port => $ENV{'EFG_PORT'} || 3306,
                 -species => $ENV{'SPECIES'},
                 -user => $ENV{'EFG_WRITE_USER'},
                 -pass => $ENV{'PASS'},
             },
             MODULE            => 'Chipotle',
             PROGRAM           => 'ChIPOTle',
             PROGRAM_FILE      => '/nfs/acari/graef/src/chipotle/chipotle',
             VERSION           => '2.0',
             #PARAMETERS        => $ENV{PARAMETERS},
             NORM_METHOD       => $ENV{NORM_METHOD}, 
             RESULT_SET_REGEXP => '_IMPORT', 
             SCORE_FACTOR      => 1,
             ANALYSIS_WORK_DIR => $ENV{'ANALYSIS_WORK_DIR'},
         },
#         'Chipotle_BH_1e-01' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-1',
#         },
#         'Chipotle_BH_1e-05' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-5',
#         },
#         'Chipotle_BH_1e-10' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-10',
#         },
#         'Chipotle_BH_1e-15' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-15',
#         },
#         'Chipotle_BH_1e-25' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BH alpha=1e-25',
#         },
#         'Chipotle_BON_1e-01' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-1',
#         },
#         'Chipotle_BON_1e-05' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-5',
#         },
#         'Chipotle_BON_1e-10' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-10',
#         },
#         'Chipotle_BON_1e-15' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-15',
#         },
#         'Chipotle_BON_1e-25' => {
#             PARAMETERS        => 'windowSize=400 stepSize=60 adjustPvalue=BON alpha=1e-25',
#         },
     });

sub import {
    my ($callpack) = caller(0); # Name of the calling package
    my $pack = shift; # Need to move package off @_
    
    # Get list of variables supplied, or else all
    my @vars = @_ ? @_ : keys(%Config);
    return unless @vars;
    
    # Predeclare global variables in calling package
    eval "package $callpack; use vars qw("
        . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;
    
    
    foreach (@vars) {
        if (defined $Config{ $_ }) {
            no strict 'refs';
            # Exporter does a similar job to the following
            # statement, but for function names, not
            # scalar variables:
            *{"${callpack}::$_"} = \$Config{ $_ };
        } else {
            die "Error: Config: $_ not known\n";
        }
    }
}

1;
