# Copyright [1999-2015] Wellcome Trust Sanger Institute and the EMBL-European Bioinformatics Institute
# Copyright [2016-2022] EMBL-European Bioinformatics Institute
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

package Bio::EnsEMBL::Analysis::Config::GeneBuild::OrthologueEvaluatorExonerate;

use strict;
use vars qw(%Config);

%Config= 
   (
       EXONERATE_PROTEIN_CONF => { 

                QUERYTYPE => 'protein',
                QUERYSEQS  => "QUERYSEQ" , 
                IIDREGEXP => '(\d+):(\d+)',   
                #
                # either you set this variable or you fill out 
                # Bio::EnsEMBL::Analysis::Config::Databases
                #
                OUTDB => { -dbname => '',
                           -host   => '',
                           -port   => '3306',
                           -user   => 'ensadmin',
                           -pass   => '****',
                         },
                COVERAGE_BY_ALIGNED => 0,
                OPTIONS => "--model protein2genome --forwardcoordinates FALSE ".
                "--softmasktarget TRUE --exhaustive FALSE  --bestn 1",
             },


   );


############################################################


sub import {
    my ($callpack) = caller(0);  
    my $pack = shift; 
    my @vars = @_ ? @_ : keys(%Config); 

    return unless @vars; 
    eval "package $callpack; use vars qw("
         . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;
    foreach (@vars) {
	if (defined $Config{ $_ }) {
            no strict 'refs';
	    *{"${callpack}::$_"} = \$Config{ $_ };
	} else {
	    die "Error: Config: $_ not known\n";
	}
    }
}
1;
