=head1 LICENSE

  Copyright (c) 1999-2011 The European Bioinformatics Institute and
  Genome Research Limited.  All rights reserved.

  This software is distributed under a modified Apache license.
  For license details, please see

    http://www.ensembl.org/info/about/code_licence.html

=head1 CONTACT

  Please email comments or questions to the public Ensembl
  developers list at <dev@ensembl.org>.

  Questions may also be sent to the Ensembl help desk at
  <helpdesk@ensembl.org>.

=cut

=head1 NAME

Bio::EnsEMBL::Analysis::Config::GeneBuild::OrthologueEvaluatorExonerate - 

=head1 SYNOPSIS


=head1 DESCRIPTION


=head1 METHODS

=cut

package Bio::EnsEMBL::Analysis::Config::GeneBuild::OrthologueEvaluatorExonerate;

use strict;
use vars qw(%Config);

%Config= 
   (
       EXONERATE_PROTEIN_CONF => { 

                QUERYTYPE => 'protein',
                QUERYSEQS  => "QUERYSEQ" , 
                IIDREGEXP => '(\d+):(\d+)',   
                #
                # either you set this variable or you fill out 
                # Bio::EnsEMBL::Analysis::Config::Databases
                #
                OUTDB => { -dbname => '',
                           -host   => '',
                           -port   => '3306',
                           -user   => 'ensadmin',
                           -pass   => 'ensembl',
                         },
                COVERAGE_BY_ALIGNED => 0,
                OPTIONS => "--model protein2genome --forwardcoordinates FALSE ".
                "--softmasktarget TRUE --exhaustive FALSE  --bestn 1",
             },


   );


############################################################


sub import {
    my ($callpack) = caller(0);  
    my $pack = shift; 
    my @vars = @_ ? @_ : keys(%Config); 

    return unless @vars; 
    eval "package $callpack; use vars qw("
         . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;
    foreach (@vars) {
	if (defined $Config{ $_ }) {
            no strict 'refs';
	    *{"${callpack}::$_"} = \$Config{ $_ };
	} else {
	    die "Error: Config: $_ not known\n";
	}
    }
}
1;
