package Bio::EnsEMBL::Analysis::Config::GeneBuild::OrthologueEvaluatorExonerate;

use strict;
use vars qw(%Config);

%Config= 
   (
       EXONERATE_PROTEIN_CONF => { 

                QUERYTYPE => 'protein',
                QUERYSEQS  => "QUERYSEQ" , 
                IIDREGEXP => '(\d+):(\d+)',   
                #
                # either you set this variable or you fill out 
                # Bio::EnsEMBL::Analysis::Config::GeneBuild::Databases
                #
                OUTDB => { -dbname => '',
                           -host   => '',
                           -port   => '3306',
                           -user   => 'ensadmin',
                           -pass   => 'ensembl',
                         },
                COVERAGE_BY_ALIGNED => 0,
                OPTIONS => "--model protein2genome --forwardcoordinates FALSE ".
                "--softmasktarget TRUE --exhaustive FALSE  --bestn 1",
             },


   );


############################################################


sub import {
    my ($callpack) = caller(0);  
    my $pack = shift; 
    my @vars = @_ ? @_ : keys(%Config); 

    return unless @vars; 
    eval "package $callpack; use vars qw("
         . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;
    foreach (@vars) {
	if (defined $Config{ $_ }) {
            no strict 'refs';
	    *{"${callpack}::$_"} = \$Config{ $_ };
	} else {
	    die "Error: Config: $_ not known\n";
	}
    }
}
1;
