# Bio::EnsEMBL::Analysis::Config::GeneBuild::RefineSolexaGenes;
# 
# Cared for by EnsEMBL (ensembl-dev@ebi.ac.uk)
#
# Copyright GRL & EBI
#
# You may distribute this module under the same terms as perl itself

# POD documentation - main docs before the code


package Bio::EnsEMBL::Analysis::Config::GeneBuild::RefineSolexaGenes;

use strict;
use vars qw( %Config );

# Hash containing config info
%Config = (

         REFINESOLEXAGENES_CONFIG_BY_LOGIC => 
           {
            DEFAULT => {
	    		# databases are defined as hash keys from Bio::EnsEMBL::Analysis::Config::Databases
                        OUTPUT_DB => '',
			INTRON_DB => '',
			MODEL_DB  => '',
			
			# maximum number of times to loop when building all possible paths through the transcript
			MAX_RECURSIONS => 10000000,
			
						
			# analysis logic_name for the dna_align_features to fetch from the INTRON_DB
			# If left blank all features will be fetched
			LOGICNAME => [],
			
			# logic name of the gene models to fetch
			MODEL_LN  => '',
			
			# penalty for removing a retined intron
			RETAINED_INTRON_PENALTY => 2,
			
			# minimum size for an intron
			MIN_INTRON_SIZE  => 30,   
			
			# biotypes to give gene models if left blank these models will not get written to the output database
			# best score - model with most supporting intron features
			BEST_SCORE => 'best', 
			# all other possible models
			OTHER_ISOFORMS => 'other',
                        # max number of other models to make - blank = all 
			OTHER_NUM      => '5',
			
                        # max number of other models to process - blank = all ( this may take a long time and use a lot of memory 100 is recomended)
			MAX_NUM      => '100',
			
			# biotype to label bad models ( otherwise they are not written )
			BAD_MODELS     => '',
                   },
	    }
	    
);

sub import {
  my ($callpack) = caller(0); # Name of the calling package
  my $pack = shift; # Need to move package off @_

  # Get list of variables supplied, or else everything
  my @vars = @_ ? @_ : keys( %Config );
  return unless @vars;
  
  # Predeclare global variables in calling package
  eval "package $callpack; use vars qw("
    . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;


    foreach (@vars) {
	if ( defined $Config{$_} ) {
            no strict 'refs';
	    # Exporter does a similar job to the following
	    # statement, but for function names, not
	    # scalar variables:
	    *{"${callpack}::$_"} = \$Config{ $_ };
	} else {
	    die "Error: Config: $_ not known\n";
	}
    }
}

1;
