# Copyright [1999-2015] Wellcome Trust Sanger Institute and the EMBL-European Bioinformatics Institute
# Copyright [2016-2019] EMBL-European Bioinformatics Institute
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# POD documentation - main docs before the code

=head1 NAME

Bio::EnsEMBL::Analysis::Config::HavanaAdder - imports global variables used by EnsEMBL gene building

=head1 SYNOPSIS
    use Bio::EnsEMBL::Analysis::Config::HavanaAdder;
    use Bio::EnsEMBL::Analysis::Config::HavanaAdder qw(  );

=head1 DESCRIPTION

 HavanaAdder is based on Genebuilder.

It imports and sets a number of standard global variables into the
calling package, which are used in many scripts in the human sequence
analysis system.  The variables are first decalared using "use vars",
so that it can be used when "use strict" is in use in the calling
script.  Without arguments all the standard variables are set, and
with a list, only those variables whose names are provided are set.
The module will die if a variable which doesn\'t appear in its
C<%GeneBuilder> hash is asked to be set.

The variables can also be references to arrays or hashes.

Edit C<%HavanaAdder> to add or alter variables.

All the variables are in capitals, so that they resemble environment
variables.


=head1 CONTACT

=cut


package Bio::EnsEMBL::Analysis::Config::HavanaAdder;

use strict;
use vars qw( %GeneBuilder );

# Hash containing config info
%GeneBuilder = (

  ##################
  # INPUT BIOTYPES #
  ##################

  ## All hash-keys which start with "ENSEMBL" refer to gene AND transcript
  ## biotypes which are present in the ensembl core DB. This core DB is most
  ## likely to be an ensembl-only genebuild/core DB (i.e. containing no data 
  ## whatsoever from previous Ensembl-Havana merges), although in some cases 
  ## it can be an ensembl DB from a previous merge if a "clean" ensembl-only 
  ## DB is not available.

  ## All hash-keys which start with "HAVANA" refer to gene AND transcript 
  ## biotypes which are present in the ensembl-vega DB (also known as the 
  ## "HAVANA DB").
  ##
  ## The order of biotypes in the hash-value array does not matter.
  ## 
  ## If using "ENSEMBL" database from a previous merge, use only genes and
  ## transcripts with *logic names* like "ensembl" or "ensembl-havana". 
  ## (Do not rely on the "source" attribute of the gene because 
  ## sometimes the "source" isn't set correctly).  Ignore genes/transcripts
  ## (and their biotypes) which came solely from Havana.
  ## ---------------------------------------------------------------------------

  # (I) CODING ENSEMBL GENES AND HAVANA TRANSCRIPTS
  #
  # This category covers genes which contain translateable transcripts and 
  # transcripts which are translateable (coding).  The most obvious biotype
  # in this category is "protein_coding".  Biotypes such as "polymorphic_
  # pseudogene" (for genes) and "nonsense_mediated_decay" (for transcripts)
  # should also be included because "polymorphic_pseudogene" contains both
  # coding and non-coding transcripts, whereas a "nonsense_mediated_decay"
  # transcript often has translation in the DB.
  #
  # Remember to add the IG genes from both sources. The code should
  # handle these genes correctly.

  ENSEMBL_INPUT_CODING_TYPE => ['protein_coding',
                                'IG_C_gene',
                                'IG_D_gene',
                                'IG_J_gene',
                                'IG_V_gene',
                               ],

  HAVANA_INPUT_CODING_TYPE => [ 'protein_coding',
                                'polymorphic_pseudogene',
                                'nonsense_mediated_decay',
                                'non_stop_decay',
                                'IG_gene',
                                'TR_gene'
                              ],

  # (II) ALL PSEUDOGENE-RELATED GENE AND TRANSCRIPT BIOTYPES
  #
  # This category covers genes and transcripts which are pseudogenic.
  # As a rule-of-thumb, any biotype containing the string "pseudogene" or
  # "retrotransposed" falls into this category.
  # retrotransposed has been renamed to processed_pseudogene

  ENSEMBL_INPUT_PSEUDO_TYPE => [ 'pseudogene', 'processed_pseudogene' ],

  HAVANA_INPUT_PSEUDO_TYPE => [ 'pseudogene',
                                'processed_pseudogene',
                                'transcribed_pseudogene',
                                'transcribed_processed_pseudogene',
                                'transcribed_unprocessed_pseudogene',
                                'translated_processed_pseudogene',
                                'unitary_pseudogene',
                                'unprocessed_pseudogene',
                                'disrupted_domain',
                                'IG_pseudogene',
                                'TR_pseudogene'
                               ],


  # (III) "PROCESSED_TRANSCRIPT" GENE AND TRANSCRIPT BIOTYPES
  #
  # This category covers biotypes of non-coding genes/transcripts
  # which are neither protein_coding/translateable (category I above)
  # nor pseudogenic (category II). The most common biotype in this
  # category is "processed_transcript" (which serves as both gene and
  # transcript biotype ).

  HAVANA_INPUT_PROCESSED_TYPE => [ 'processed_transcript'],

  # (IV) NON-CODING GENE AND TRANSCRIPT BIOTYPES
  #
  # This category contains all non-coding genes from Havana. We have
  # started keeping them separate from the processed_transcript
  # genes/transcripts as we like to keep the gene biotypes intact.
  # These biotypes mainly appear in human but a subset of them might
  # also be present in mouse and/or zebrafish.
  #
  # NOte: We don't use the TEC type at all so it shouldn't be added to
  #       the config even if there are genes with this biotype in the Vega
  #       database.
  #
  # The Ensembl non-coding biotypes for ncRNAs are also included. 

  ENSEMBL_INPUT_NONCODING_TYPE => [ 'miRNA',
                                    'misc_RNA',
                                    'rRNA',
                                    'snoRNA',
                                    'snRNA',
                                  ],

  HAVANA_INPUT_NONCODING_TYPE => [ '3prime_overlapping_ncrna',
                                   'ambiguous_orf',
                                   'antisense',
                                   'lincRNA',
                                   'ncrna_host',
                                   'non_coding',
                                   'retained_intron',
                                   'sense_intronic',
                                   'sense_overlapping',
    ],


  ###################
  # OUTPUT BIOTYPES #
  ###################

  # Here you select the suffix that you want to be added to the biotype of your 
  # output genes and transcripts.
  # Transcripts which aren't merged, regardless of DB origin, will retain their 
  # original biotype.
  # All havana transcripts, both merged and unmerged, will gain a "_hav" suffix
  # to indicate whether they came from Havana. This is hardcoded within the HavanaAdder 
  # Runnable code.

  # Genes with Havana transcripts only
  HAVANA_GENE_OUTPUT_BIOTYPE => '_Hav',

  # Genes with Havana and Ensembl transcripts
  MERGED_GENE_OUTPUT_BIOTYPE => '_Ens_Hav',

  # Genes with Ensembl transcripts only
  ENSEMBL_GENE_OUTPUT_BIOTYPE => '_Ens',

  # Output Biotype for merged transcripts
  # Don't use "_m" as it matches "nonsense_mediated_decay" too, which means
  # the HavanaAdder code will always consider an NMD transcript as merged!
  # Choose a suffix which won't match any of your gene and transcript
  # biotypes.
  #
  MERGED_TRANSCRIPT_OUTPUT_TYPE => '_mrgd',


  ###############
  # LOGIC NAMES #
  ###############

  # These are mainly for the Havana_merge update, when an Ensembl-Havana (previously) 
  # merged DB is used as "ENSEMBL" source DB at the start of your merge project.
  # Enter the logic_name as the hash keys suggest.
  #
  # The HavanaAdder Runnable code relies on these logic_names to judge whether a gene/
  # transcript originated from Ensembl or Havana at the beginning of the previous
  # merge. The code will then select for genes/transcripts which originally came from
  # Ensembl and use them in the current merge project as "Ensembl" input models.

  # Beware the transcript logic_name in the HAVANA source database (e.g. "otter")
  # has to be different that the logic_name of the havana transcripts in the ENSEMBL
  # database (e.g. "havana").

  # If you are using a "clean, ensembl-only DB as the starting point of the current 
  # merge project, the logic_names are not really relevant to you. Just leave the default
  # values.

  HAVANA_LOGIC_NAME            => 'havana',
  MERGED_GENE_LOGIC_NAME       => 'ensembl_havana_gene',
  MERGED_TRANSCRIPT_LOGIC_NAME => 'ensembl_havana_transcript',

);

sub import {
  my ($callpack) = caller(0); # Name of the calling package
  my $pack = shift; # Need to move package off @_

  # Get list of variables supplied, or else
  # all of GeneBuilder:
  my @vars = @_ ? @_ : keys( %GeneBuilder );
  return unless @vars;

  # Predeclare global variables in calling package
  eval "package $callpack; use vars qw("
    . join(' ', map { '$'.$_ } @vars) . ")";
    die $@ if $@;


    foreach (@vars) {
      if ( defined $GeneBuilder{$_} ) {
        no strict 'refs';
        # Exporter does a similar job to the following
        # statement, but for function names, not
        # scalar variables:
        *{"${callpack}::$_"} = \$GeneBuilder{$_};
      } else {
        die "Error: GeneBuilder: $_ not known\n";
      }
    }
}

1;
